@charset "utf-8";

/* CSS Document */



 

@media (min-width:999px) and  (max-width:1124px){
.ind-serv-inn p { text-align:left; padding:10px 10px;}
.ind-serv-inn p span {    font-size: 42px; }
.ind-serv-inn p { font-size:15px;}
.ind-testi-inn ul li { margin:0 75px;} 	
ul.ind-client li { margin:0 20px;}

	.seprator { margin:30px auto;}

}

	

	





/* ipad potrait */

@media (max-width:768px){

	ul.ind-client li { margin:0 50px;}
	.footer1 p { font-size:12px;}
	.footer2 p { font-size:12px;}
	.seprator { margin:0px auto 20px;}
	.about-export { margin:0px auto;}
	.header-cont img { display:none;}
	.ser-main-pic img { width:99%;}

}



@media (max-width:480px){
	 	
 #sticky-anchor {    display: none;}
 .header-cont {  margin: 10px auto;   float: none;}
.ind-pro-inn p { font-size:30px;}
.ind-serv-inn p { text-align:left; padding:10px 30px;}
.top_login { float:none;}
.top_login p { font-size:22px;}
ul.login_content { margin: 10px auto;    padding: 0px 0px;    float: none;    text-align: center;}
ul.ind-client li { margin:0 80px;}
.ind-testi-inn ul li { margin:0 40px;}
.ind-client-bg p { font-size:16px;}
.footer1 p { float:none; text-align:center;}
.footer2 p { float:none; text-align:center;}
.cont { margin:10px auto;}
.seprator { margin:10px auto;}
.about-export { margin:0 auto;}
.about-repair span { padding:10px 0;}
.about-repair span { font-size:20px;}
.cont a {width: 66%;float: none;}

#cssmenu #menu-button {    padding: 22px 0px !important;}
#menu-button { top:3px;}
.ser-main-pic img { margin:0 auto;}
.check { margin: 5px 11px 0 8px !important;}
.header-cont p span {    display: inline-block;}
 .ser-main-pic img { width:80%;}
 .maintenance-bg p {font-size: 18px;  padding: 10px 10px 50px;}
 
}


@media(max-width:320px) {
	

			#sticky-anchor {    display: none;}
			.header-cont {  margin: 10px auto;   float: none;}
			.ind-pro-inn p { font-size:30px;}
			.ind-serv-inn p { text-align:left; padding:10px 10px;}
			.top_login p { font-size:22px;}
			ul.login_content { margin: 10px auto;    padding: 0px 0px;    float: none;    text-align: center;}
			ul.ind-client li { margin:0 10px;}
			.footer1 p { float:none; text-align:center;}
			.footer2 p { float:none; text-align:center;}
			.about-repair span {    font-size: 18px;}
			.ind-testi-inn ul li {    margin: 0 0px;}
						

}

